<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}

    <link id="logo" rel="shortcut icon" href="{% static 'img/logo-dark.png' %}" type="image">
    <title> - Вход</title>

    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>


    <script defer src="{% static 'js/global.js' %}"></script>
    <script defer src="{% static 'js/auth.js' %}"></script>
</head>
<body>
<header>
    <a href="/" class="logo"></a>
    <div class="nav">

        <a class="nav-el" href="/">создать тест</a>
        <a class="nav-el" href="/">ваши тесты</a>

    </div>
    <div id="theme-switch" class="theme-switch">Темная тема</div>
    <div class="user">
        <h1 class="username">
        {% if request.user.is_authenticated %}
        {{ request.user }}</h1>
            <p>Выйти</p>
        {% else %}
                            <a href="login">Авторизация</a>
            </h1>

                        {% endif %}
    </h1>


    </div>
</header>
<main>
    <div id="forms" class="forms">
    <div class="form-container">
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'SignUp' %}">регистрация</a>
        <h1>Мой профиль</h1>

    Имя пользователя: {{ request.user.username }} <br>
    Email: {{ request.user.email }}
    </div>
    </div>

        </main>

</body>
</html>
